
@{
    ViewData["Title"] = "Contact Us";
}
<h2>Contact Us</h2>
<p>If you need any help or have a sugestion, you can contact us via e-mail.</p>

<div>
    <span>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </span>
    <email address="example@example.com" content="Send Email"></email>
</div>
