
@{
    ViewData["Title"] = "CheckoutComplete";
}
<h2>Order Accepted</h2>

<p>Thank you for this order!</p>
<br />
<p>
    If you want to see your orders, feel free to <a href="/order/myOrder">click here</a>!
</p>
